
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

html, body * {
	box-sizing: border-box;
}

div.container {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-size: 0;
	font-family: Verdana;
}

div.half_container {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	height: 100%;
	font-size: medium;
	font-size: initial;
	overflow-y: auto;
	overflow-x: hidden;
}

div.half_container h2 {
	font-size: 1.2em;
	text-align: center;
	margin: 0;
	padding: 0.5em;
}


/** Selection **/
div.selection {
	width: calc(100% - 760px);
}

div.selection nav.panel {
	margin-bottom: 10px;
    font-size: 0.8em;
}

div.selection ul {
	margin: 0;
	padding: 0;
}

div.selection ul li {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}
div.selection ul li:hover {
	background: #ccc;
}

div.selection ul li p {
	position: relative;
	margin: 0;
	padding: 5px;
}

div.selection ul li p:after {
	content: '[adauga]';
	float: right;
	font-size: 0.8em;
	color: green;
	opacity: 0;
}

div.selection ul li:hover p:after {
	opacity: 1;
}

div.selection div.buttons {
	margin-bottom: 5px;
	margin-top: 10px;
	justify-content: center;
}

div.selection input {
}

div.selection textarea {
}
/** END Selection **/


/** Preview **/
div.preview {
	width: 750px;
	margin: 0;
	padding: 0;
}

div.preview ul.blocks {
	margin: 0;
	padding: 0;
	list-style: none;
}

div.preview ul.blocks li {
	margin: 0;
	padding: 0;
}

div.preview ul.blocks li > div:hover {
	background: #eeeeee;
}

div.preview ul.blocks li button.delete {
	position: absolute;
	top: 5px;
	right: 0px;
	opacity: 0;
	background: #ff0000;
}

div.preview ul.blocks li > div:hover button.delete {
	opacity: 1;
}
/** END Preview **/