
/** Common **/
.block {
	position: absolute;
	box-sizing: border-box;
	margin: 0;
	padding: 5px;
}

.block > div {
	width: 100%;
	height: 100%;
	background: #f5f5f5;
	border-radius: 10px;
	border: 1px solid #dbdbdb;
}

.block div p {
	margin: 0;
	padding: 0;
	color: #363636;
	font-weight: bold;
	font-size: 1.0em;
	box-sizing: border-box;
	text-align: center;
}

.block div.select {
	width: 100%;
}

.block div select {
	display: block;
	width: calc(100% - 20px);
	margin: 0 auto;
}

.block div input {
	display: block;
	width: calc(100% - 20px);
	margin: 0 auto;
	margin-top: 5px;
	padding: 5px 10px;
}

.block div textarea {
	width: calc(100% - 20px);
	min-width: calc(100% - 20px);
	max-width: calc(100% - 20px);
	margin: 0 auto;
}

/** 2x2 | 2x2 **/
.t_2x2-2x2 {
	position: relative;
	width: 100%;
	height: 360px;
}

.t_2x2-2x2 .block {
	width: 360px;
	height: 100%;
}

.t_2x2-2x2 .block:nth-child(1) {
	top: 0;
	left: 0;
}

.t_2x2-2x2 .block:nth-child(2) {
	top: 0;
	left: 360px;
}
/** END 2x2 | 2x2 **/


/** 1x2 | 3x2 **/
.t_1x2-3x2 {
	position: relative;
	width: 100%;
	height: 360px;
}

.t_1x2-3x2 .block {
	height: 100%;
}

.t_1x2-3x2 .block:nth-child(1) {
	top: 0;
	left: 0;
	width: 180px;
}

.t_1x2-3x2 .block:nth-child(2) {
	top: 0;
	left: 180px;
	width: 540px;
}
/** END 1x2 | 3x2 **/


/** 3x2 | 1x2 **/
.t_3x2-1x2 {
	position: relative;
	width: 100%;
	height: 360px;
}

.t_3x2-1x2 .block {
	height: 100%;
}

.t_3x2-1x2 .block:nth-child(1) {
	top: 0;
	left: 180px;
	width: 540px;
}

.t_3x2-1x2 .block:nth-child(2) {
	top: 0;
	left: 0;
	width: 180px;
}
/** END 3x2 | 1x2 **/


/** 1x1 | 1x1 | 1x1 | 1x1 **/
.t_1x1-1x1-1x1-1x1 {
	position: relative;
	width: 100%; 
	height: 180px;
}

.t_1x1-1x1-1x1-1x1 .block {
	width: 180px;
	height: 100%;
}

.t_1x1-1x1-1x1-1x1 .block:nth-child(1) {
	top: 0;
	left: 0;
}

.t_1x1-1x1-1x1-1x1 .block:nth-child(2) {
	top: 0;
	left: 180px;
}

.t_1x1-1x1-1x1-1x1 .block:nth-child(3) {
	top: 0;
	left: 360px;
}

.t_1x1-1x1-1x1-1x1 .block:nth-child(4) {
	top: 0;
	left: 540px;
}
/** END 1x1 | 1x1 | 1x1 | 1x1 **/


/** 1x1 - 1x1 | 2x2 | 1x1 - 1x1 **/
.t_1x11x1_2x2_1x11x1 {
	position: relative;
	width: 100%; 
	height: 360px;
}

.t_1x11x1_2x2_1x11x1 .block {
	width: 180px;
	height: 180px;
}

.t_1x11x1_2x2_1x11x1 .block:nth-child(1) {
	top: 0;
	left: 0;
}

.t_1x11x1_2x2_1x11x1 .block:nth-child(2) {
	top: 180px;
	left: 0;
}

.t_1x11x1_2x2_1x11x1 .block:nth-child(3) {
	top: 0;
	left: 180px;
	width: 360px;
	height: 360px;
}

.t_1x11x1_2x2_1x11x1 .block:nth-child(4) {
	top: 0;
	left: 540px;
}

.t_1x11x1_2x2_1x11x1 .block:nth-child(5) {
	top: 180px;
	left: 540px;
}
/** END 1x1 - 1x1 | 2x2 | 1x1 - 1x1 **/


/** 4x2 **/
.t_4x2 {
	position: relative;
	width: 100%;
	height: 360px;
}

.t_4x2 .block {
	width: 100%;
	height: 360px;
}
/** END 4x2 **/

