

.main_menu {
	position: relative;
	top: -1px;
	width: 100%;
	height: 0px;
	overflow: hidden;
	background: #000;
	transition: height 0.2s;
}

.main_menu.open {
	position: fixed;
	height: calc(100% - 55px);
	top: 55px;
	left: 0;
	z-index: 1001;
	overflow: auto;
}

.main_menu .responsive_options {
	display: none;
}

.main_menu .responsive_options ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.main_menu .responsive_options ul li {
	position: relative;
	height: 55px;
	line-height: 55px;
	margin: 0;
	box-sizing: border-box;
	border-bottom: 1px solid #fff;
}

.main_menu .responsive_options ul li a {
	color: #fff;
	font-size: 1em;
}

.main_menu .responsive_options ul li a:hover {
	text-decoration: none;
}

.main_menu .responsive_options ul li a span#badge_responsive {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 23px;
	top: 15px;
	text-align: center;
	line-height: 18px;
	font-size: 1em;
}

.main_menu .menu_project {
	margin-top: 80px;
}

.main_menu .menu_project .menu_project_title {
	position: relative;
	box-sizing: border-box;
	padding-left: 15px;
	padding-top: 15px;
	font-size: 1.3vmax;
	font-weight: bold;
	text-transform: uppercase;
}
@media (min-width:1200px){
	.main_menu .menu_project .menu_project_title {
		height:117px;
	}
}
@media (min-width:992px) and (max-width:1200px){
	.main_menu .menu_project .menu_project_title {
		height:168px;
	}
}

.main_menu .menu_project .menu_project_title::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	content: "";
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;
}

.main_menu .menu_project .menu_project_image {
	width: 100%;
	height: auto;
	/*max-height:207px;*/
	margin: 20px 0;
}

.main_menu .menu_project ul.menu_project_items {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.main_menu .menu_project .menu_project_items li {
	margin: 0;
	padding: 0;
}

.main_menu .menu_project .menu_project_items li a {
	margin: 0;
	/*padding: 15px 0;*/
	padding: 0;
	cursor:pointer;
	color: #fff;
	font-weight: 400;
	font-size: 1.1vmax;
}
.main_menu .menu_project .menu_project_items li a:hover {
	text-decoration: none;
}

@media screen and (max-width: 768px) {
	.main_menu .responsive_options {
		display: block;
	}

	.main_menu .menu_project .menu_project_image {
		/*display: none;*/
	}
}

/** Custom **/
.main_menu .menu_project.menu_project__section-1 .menu_project_title {
	color: #b7b100;
}

.main_menu .menu_project.menu_project__section-2 .menu_project_title {
	color: #4ecae8;
}

.main_menu .menu_project.menu_project__section-3 .menu_project_title {
	color: #d89c68;
}

.main_menu .menu_project.menu_project__section-4 .menu_project_title {
	color: #1ca64c;
}

.main_menu .menu_project.menu_project__section-5 .menu_project_title {
	color: #d2cab8;
}