.blocks {
    .block {
        .inside_split_horizontal_by2{
            width:100%;
            height: calc( 50%   );

            &.top{
                padding-bottom:10px;
            }
            &.bottom{
                padding-top:10px;
            }
        }
        .inside_split_vertical_by2{
            width: calc( 50%   );
            height:100%;
        }
    }
}