.main_menu {
    position: relative;
    top: -1px;
    width: 100%;
    height: 0px;
    overflow: hidden;
    background: #000;
    transition: height 0.2s;

    &.open {
        position: fixed;
        height: calc(100% - 55px);
        top: 55px;
        left: 0;
        z-index: 1001;
        overflow: auto;
    }

    .responsive_options {
        display: none;

        @media screen and (max-width: 768px) {
            display: block;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                position: relative;
                height: 55px;
                line-height: 55px;
                margin: 0;
                box-sizing: border-box;
                border-bottom: 1px solid #fff;

                a {
                    color: #fff;
                    font-size: 1em;

                    &:hover {
                        text-decoration: none;
                    }

                    span#badge_responsive {
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        left: 23px;
                        top: 15px;
                        text-align: center;
                        line-height: 18px;
                        font-size: 1em;
                    }
                }
            }
        }

    }

    .menu_project {
        margin-top: 80px;

        .menu_project_title {
            position: relative;
            box-sizing: border-box;
            padding-left: 15px;
            padding-top: 15px;
            font-size: 1.3vmax;
            font-weight: bold;
            text-transform: uppercase;

            @media (min-width: 1200px) {
                height: 117px;
            }
            @media (min-width: 992px) and (max-width: 1200px) {
                height: 168px;
            }

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                width: 60px;
                height: 60px;
                content: "";
                border-top: 2px solid #fff;
                border-left: 2px solid #fff;
            }

        }

        &.project_1 {
            .menu_project_title {
                color: $color_project_1;
            }
        }
        &.project_2 {
            .menu_project_title {
                color: $color_project_2;
            }
        }
        &.project_3 {
            .menu_project_title {
                color: $color_project_3;
            }
        }

        .menu_project_image {
            width: 100%;
            height: auto;
            /*max-height:207px;*/
            margin: 20px 0;
            @media screen and (max-width: 768px) {
                /*display: none;*/
            }
        }

        ul {
            &.menu_project_items {
                margin: 0;
                padding: 0;
                list-style-type: none;

                li {
                    margin: 0;
                    padding: 0;

                    a {
                        margin: 0;
                        /*padding: 15px 0;*/
                        padding: 0;
                        cursor: pointer;
                        color: #fff;
                        font-weight: 400;
                        font-size: 1.1vmax;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }

            }
        }

    }
}
