.page-1-ambianta {

    @media (max-width: 768px) {
        background-image: url('../img/HP/ambianta-generala.jpg') !important;

    }

    h1 {
        width:75%;
        margin-bottom: 200px;

        @media (max-width: 768px) {
            font-size: 13vmin;
            width:100%;
            margin-bottom: 80px;
        }
        @media (max-width: 768px) and (orientation: portrait) {
            font-size: 10vmin;
        }


        @media (max-width: 480px) {
            margin-bottom: 120px;
            width: 100% ;
            font-size: 10vmin;
        }
    }

}