.project_description.home {

    .project_description_header {
        position: absolute;
        margin: auto;
        top: 0;
        z-index: 1;
        display: flex;
        padding-left: 25px;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        background-color: #fff;
    }

    .project_description_background {
        position: absolute;
        display: block;
        margin: auto;
        bottom: 0;
        width: 100%;
        height: 100%;
        content: "";
        box-sizing: border-box;
        background-size: contain;
        background-position: bottom center;
        background-repeat: no-repeat;
        background-color: #fff;
        z-index: 0;

        .hd_icon {
            position: absolute;
            display: block;
            margin: auto;
            bottom: 10px;
            right: 10px;
        }
    }

    .project_description_title {
        font-family: 'KingfisherRO-Bold';
        margin-right: 0 !important;
        font-size: 26px !important;

        @media(max-width: 992px) {
            font-size: 2vmin !important;
            line-height: calc(2vmin + 2px);
            padding: 0 15px;
        }
        @media(max-width: 768px) {
            font-size: 3.5vmax;
            line-height: 3.6vmax;
            padding: 0 15px;
        }

    }

    .project_description_details {
        font-size: 1.7vmin !important;

        @media(min-width: 1200px) {
            //font-size: 1.8vmin !important;
            //line-height: calc(1.8vmin + 2px);
            font-size: 19px !important;
            line-height: 20px;
        }
        @media(max-width: 1200px) {
            //font-size: 1.5vmin !important;
            //line-height: calc(1.5vmin + 2px);
            font-size: 16px !important;
            line-height: 16px;
        }
        @media(max-width: 992px) {
            font-size: 1.36vmin !important;
            line-height: calc(1.36vmin + 2px);
        }
        @media(max-width: 768px) and (orientation: landscape) {
            font-size: 6vmin !important;
            line-height: calc(6.2vmin + 2px);
        }
        @media(max-width: 768px) and (orientation: portrait) {
            font-size: 3.3vmin !important;
            line-height: calc(3.4vmin + 2px);
        }

    }

    // project_1
    &.project_1 {
        .project_description_title {
            color: $color_project_1;
            border-right: 1px solid $color_project_1;
            &::before {
                border-top: 2px solid $color_project_1;
                border-left: 2px solid $color_project_1;
            }
        }
    }

    // project_2
    &.project_2 {
        .project_description_title {
            color: $color_project_2;
            border-right: 1px solid $color_project_2;
            &::before {
                border-top: 2px solid $color_project_2;
                border-left: 2px solid $color_project_2;
            }
        }
    }

    // project_3
    &.project_3 {
        .project_description_title {
            color: $color_project_3;
            border-right: 1px solid $color_project_3;
            &::before {
                border-top: 2px solid $color_project_3;
                border-left: 2px solid $color_project_3;
            }
        }
    }

}

.project_description.produs {

    overflow: hidden;

    .project_description_header {
        .project_description_title {
            font-size: .9em;
        }
    }

    .project_description_image {
        img.map__image {
            width: auto;
            height: auto;
            max-width: 90%;
            max-height: 90%;
            padding-bottom: 20px;
        }
    }

    .sticker {
        display: block;
        margin-top: 5px;
        margin-left: 5px;
        max-width: 90%;
        height: auto;
    }

    ~ .badge_product {
        position: absolute;
        display: block;
        margin: auto;
        top: 0px;
        right: 15px;
        width: 60px !important;
        height: 60px !important;
        z-index: 1;
        padding: 0;
    }

    ~ .price_product {
        position: absolute;
        display: block;
        margin: auto;
        top: auto;
        left: auto;
        bottom: 15px;
        right: 15px;
        width: 110px;
        height: 50px;
        z-index: 2;
        background: rgba(255, 255, 255, 0.5);
        font-weight: bold;
        border: 5px solid rgba(255, 255, 255, 0.5);

        .old_price {
            position: absolute;
            display: block;
            top: 0;
            right: 30px;
            text-decoration: line-through;
            font-size: 15px;
            text-align: right;

        }
        .new_price {
            position: absolute;
            display: block;
            bottom: 0;
            right: 30px;
            font-size: 18px;
            text-align: right;

        }
        .currency_per_unit {
            position: absolute;
            display: block;
            bottom: 0;
            right: 0;
            font-size: 12px;
        }

    }

}

