.product_container {
    .image{
        .badge_product{
            position: absolute;
            display: block;
            margin: auto;
            top: -10px;
            right: 5px;
            left:auto;
            bottom:auto;
            width: 60px !important;
            height: 60px !important;
            z-index: 1;
            padding: 0;
        }
    }
}