/**
colturi pentru project_block
    - corner_2x1
    - corner_1x2

    - corner_color_project_1
    - corner_color_project_2
    - corner_color_project_3
 */

.project_block {
    &::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 200%;
        height: 200%;
        content: " ";
        transform: rotate(62deg) translateX(-103%);
    }

    // pozitie
    &.corner_2x1::before {
        //transform: rotate(62deg) translateX(-103%) !important;
        transform: rotate(62deg) translateX(-99%) !important;
        width: 100%;
    }
    &.corner_1x2::before {
        transform: rotate(62deg) translateX(-150%) !important;
    }

    // culoare
    &.corner_color_project_1::before {
        background-color: $color_project_1;
    }

    &.corner_color_project_2::before {
        background-color: $color_project_2;
    }

    &.corner_color_project_3::before {
        background-color: $color_project_3;
    }

}

