/**
colors
   - color_project_1
   - color_project_2
   - color_project_3
 */
.main_menu {
  position: relative;
  top: -1px;
  width: 100%;
  height: 0px;
  overflow: hidden;
  background: #000;
  transition: height 0.2s;
}
.main_menu.open {
  position: fixed;
  height: calc(100% - 55px);
  top: 55px;
  left: 0;
  z-index: 1001;
  overflow: auto;
}
.main_menu .responsive_options {
  display: none;
}
@media screen and (max-width: 768px) {
  .main_menu .responsive_options {
    display: block;
  }
}
.main_menu .responsive_options ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main_menu .responsive_options ul li {
  position: relative;
  height: 55px;
  line-height: 55px;
  margin: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #fff;
}
.main_menu .responsive_options ul li a {
  color: #fff;
  font-size: 1em;
}
.main_menu .responsive_options ul li a:hover {
  text-decoration: none;
}
.main_menu .responsive_options ul li a span#badge_responsive {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 23px;
  top: 15px;
  text-align: center;
  line-height: 18px;
  font-size: 1em;
}
.main_menu .menu_project {
  margin-top: 80px;
}
.main_menu .menu_project .menu_project_title {
  position: relative;
  box-sizing: border-box;
  padding-left: 15px;
  padding-top: 15px;
  font-size: 1.3vmax;
  font-weight: bold;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .main_menu .menu_project .menu_project_title {
    height: 117px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .main_menu .menu_project .menu_project_title {
    height: 168px;
  }
}
.main_menu .menu_project .menu_project_title::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  content: "";
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}
.main_menu .menu_project.project_1 .menu_project_title {
  color: #416034;
}
.main_menu .menu_project.project_2 .menu_project_title {
  color: #b8b300;
}
.main_menu .menu_project.project_3 .menu_project_title {
  color: #d89c68;
}
.main_menu .menu_project .menu_project_image {
  width: 100%;
  height: auto;
  /*max-height:207px;*/
  margin: 20px 0;
}
@media screen and (max-width: 768px) {
  .main_menu .menu_project .menu_project_image {
    /*display: none;*/
  }
}
.main_menu .menu_project ul.menu_project_items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main_menu .menu_project ul.menu_project_items li {
  margin: 0;
  padding: 0;
}
.main_menu .menu_project ul.menu_project_items li a {
  margin: 0;
  /*padding: 15px 0;*/
  padding: 0;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  font-size: 1.1vmax;
}
.main_menu .menu_project ul.menu_project_items li a:hover {
  text-decoration: none;
}

/**
colturi pentru project_block
    - corner_2x1
    - corner_1x2

    - corner_color_project_1
    - corner_color_project_2
    - corner_color_project_3
 */
.project_block::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 200%;
  content: " ";
  transform: rotate(62deg) translateX(-103%);
}
.project_block.corner_2x1::before {
  transform: rotate(62deg) translateX(-99%) !important;
  width: 100%;
}
.project_block.corner_1x2::before {
  transform: rotate(62deg) translateX(-150%) !important;
}
.project_block.corner_color_project_1::before {
  background-color: #416034;
}
.project_block.corner_color_project_2::before {
  background-color: #b8b300;
}
.project_block.corner_color_project_3::before {
  background-color: #d89c68;
}

.blocks .block .inside_split_horizontal_by2 {
  width: 100%;
  height: calc( 50% );
}
.blocks .block .inside_split_horizontal_by2.top {
  padding-bottom: 10px;
}
.blocks .block .inside_split_horizontal_by2.bottom {
  padding-top: 10px;
}
.blocks .block .inside_split_vertical_by2 {
  width: calc( 50% );
  height: 100%;
}

.project_description.home .project_description_header {
  position: absolute;
  margin: auto;
  top: 0;
  z-index: 1;
  display: flex;
  padding-left: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: #fff;
}
.project_description.home .project_description_background {
  position: absolute;
  display: block;
  margin: auto;
  bottom: 0;
  width: 100%;
  height: 100%;
  content: "";
  box-sizing: border-box;
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-color: #fff;
  z-index: 0;
}
.project_description.home .project_description_background .hd_icon {
  position: absolute;
  display: block;
  margin: auto;
  bottom: 10px;
  right: 10px;
}
.project_description.home .project_description_title {
  font-family: "KingfisherRO-Bold";
  margin-right: 0 !important;
  font-size: 26px !important;
}
@media (max-width: 992px) {
  .project_description.home .project_description_title {
    font-size: 2vmin !important;
    line-height: calc(2vmin + 2px);
    padding: 0 15px;
  }
}
@media (max-width: 768px) {
  .project_description.home .project_description_title {
    font-size: 3.5vmax;
    line-height: 3.6vmax;
    padding: 0 15px;
  }
}
.project_description.home .project_description_details {
  font-size: 1.7vmin !important;
}
@media (min-width: 1200px) {
  .project_description.home .project_description_details {
    font-size: 19px !important;
    line-height: 20px;
  }
}
@media (max-width: 1200px) {
  .project_description.home .project_description_details {
    font-size: 16px !important;
    line-height: 16px;
  }
}
@media (max-width: 992px) {
  .project_description.home .project_description_details {
    font-size: 1.36vmin !important;
    line-height: calc(1.36vmin + 2px);
  }
}
@media (max-width: 768px) and (orientation: landscape) {
  .project_description.home .project_description_details {
    font-size: 6vmin !important;
    line-height: calc(6.2vmin + 2px);
  }
}
@media (max-width: 768px) and (orientation: portrait) {
  .project_description.home .project_description_details {
    font-size: 3.3vmin !important;
    line-height: calc(3.4vmin + 2px);
  }
}
.project_description.home.project_1 .project_description_title {
  color: #416034;
  border-right: 1px solid #416034;
}
.project_description.home.project_1 .project_description_title::before {
  border-top: 2px solid #416034;
  border-left: 2px solid #416034;
}
.project_description.home.project_2 .project_description_title {
  color: #b8b300;
  border-right: 1px solid #b8b300;
}
.project_description.home.project_2 .project_description_title::before {
  border-top: 2px solid #b8b300;
  border-left: 2px solid #b8b300;
}
.project_description.home.project_3 .project_description_title {
  color: #d89c68;
  border-right: 1px solid #d89c68;
}
.project_description.home.project_3 .project_description_title::before {
  border-top: 2px solid #d89c68;
  border-left: 2px solid #d89c68;
}

.project_description.produs {
  overflow: hidden;
}
.project_description.produs .project_description_header .project_description_title {
  font-size: 0.9em;
}
.project_description.produs .project_description_image img.map__image {
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
  padding-bottom: 20px;
}
.project_description.produs .sticker {
  display: block;
  margin-top: 5px;
  margin-left: 5px;
  max-width: 90%;
  height: auto;
}
.project_description.produs ~ .badge_product {
  position: absolute;
  display: block;
  margin: auto;
  top: 0px;
  right: 15px;
  width: 60px !important;
  height: 60px !important;
  z-index: 1;
  padding: 0;
}
.project_description.produs ~ .price_product {
  position: absolute;
  display: block;
  margin: auto;
  top: auto;
  left: auto;
  bottom: 15px;
  right: 15px;
  width: 110px;
  height: 50px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  border: 5px solid rgba(255, 255, 255, 0.5);
}
.project_description.produs ~ .price_product .old_price {
  position: absolute;
  display: block;
  top: 0;
  right: 30px;
  text-decoration: line-through;
  font-size: 15px;
  text-align: right;
}
.project_description.produs ~ .price_product .new_price {
  position: absolute;
  display: block;
  bottom: 0;
  right: 30px;
  font-size: 18px;
  text-align: right;
}
.project_description.produs ~ .price_product .currency_per_unit {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  font-size: 12px;
}

.product_container .image .badge_product {
  position: absolute;
  display: block;
  margin: auto;
  top: -10px;
  right: 5px;
  left: auto;
  bottom: auto;
  width: 60px !important;
  height: 60px !important;
  z-index: 1;
  padding: 0;
}

@media (max-width: 768px) {
  .page-1-ambianta {
    background-image: url("../img/HP/ambianta-generala.jpg") !important;
  }
}
.page-1-ambianta h1 {
  width: 75%;
  margin-bottom: 200px;
}
@media (max-width: 768px) {
  .page-1-ambianta h1 {
    font-size: 13vmin;
    width: 100%;
    margin-bottom: 80px;
  }
}
@media (max-width: 768px) and (orientation: portrait) {
  .page-1-ambianta h1 {
    font-size: 10vmin;
  }
}
@media (max-width: 480px) {
  .page-1-ambianta h1 {
    margin-bottom: 120px;
    width: 100%;
    font-size: 10vmin;
  }
}

/*# sourceMappingURL=all_styles.css.map */
