/**
colors
   - color_project_1
   - color_project_2
   - color_project_3
 */
$color_project_1: #416034;
$color_project_2: #b8b300;
$color_project_3: #d89c68;

@import "menu";

@import "project_block__corner";
@import "inside_block";
@import "project_description";
@import "product_container";
@import "page-1-ambianta";

