
.blocks {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.blocks .block {
    position:relative;
    display: inline-block;
    vertical-align: top;
    float: left;
    font-size: medium;
    font-size: initial;
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

/** custom **/
.blocks .block {
    padding: 10px !important;
}

/** blocurile cu descrieri de proiecte **/
.blocks .block .inside1x2 {
    width: 100% !important;
    height: calc(49% - 3px) !important;
}

@media screen and (max-width: 767px) {
    .blocks .block.responsive_block {
        height: auto !important
    }

    .blocks .block .inside1x2 {
        width: 48% !important;
        height: 100% !important;
        float: left !important;
        margin-right: 2% !important;
    }
}

@media screen and (max-width: 500px) {

    .blocks .block .inside1x2.inside1x2_responsive {
        width: 100% !important;
        height: 100% !important;
        padding: 20px;
    }
}

.project_description {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    overflow: hidden;
    border-radius: 16px;
}

.project_description.white_shadow_left {
    -webkit-box-shadow: inset 400px -1px 300px 55px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 400px -1px 300px 55px rgba(255, 255, 255, 1);
    box-shadow: inset 400px -1px 300px 55px rgba(255, 255, 255, 1);
}

.project_description.discover .project_description_header {
    display: block;
}

.project_description_header {
    display: flex;
    margin: 0;
    padding-left: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #fff;
}

.project_description_background {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #fff;
}

.project_description__section-1 .project_description_title,
.project_description__section-2 .project_description_title,
.project_description__section-3 .project_description_title,
.project_description__section-4 .project_description_title,
.project_description__section-5 .project_description_title {
    white-space: nowrap;
}

.project_description_title {
    position: relative;
    padding-right: 20px;
    margin-right: 20px;
    font-size: 1.8em;
    /*font-size: 1.8vmax;*/
    text-transform: uppercase !important;
}

.project_description_title::before {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 60px;
    height: 60px;
    content: " ";
}

.project_description_title p {
    white-space: normal;
}

.project_description_details {
    font-size: 1.7vmin !important;
}

.project_description.discover .project_description_details p {
    font-size: 1.2em;

}

.project_description_subtitle {
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;
    padding-left: 25px;
    background-color: #fff;
    color: #7e7169;
    font-size: 2em;
    font-weight: bold;
}

.project_read {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    margin-top: 15%;
    width: auto;
    height: auto;
    padding: 0.5em 2em;
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 2px;

    color: #333333;
    text-decoration: none;
}

.project_description.project_description__section-1 .project_description_title {
    font-family: 'KingfisherRO-Bold';
    color: #b8b300;
    border-right: 1px solid #b8b300;
}

.project_description.project_description__section-1 .project_description_title::before {
    border-top: 2px solid #b8b300;
    border-left: 2px solid #b8b300;
}

.project_description.project_description__section-2 .project_description_title {
    font-family: 'KingfisherRO-Bold';
    color: #4ecae8;
    border-right: 1px solid #4ecae8;
}

.project_description.project_description__section-2 .project_description_title::before {
    border-top: 2px solid #4ecae8;
    border-left: 2px solid #4ecae8;
}

.project_description.project_description__section-3 .project_description_title {
    font-family: 'KingfisherRO-Bold';
    color: #d89c68;
    border-right: 1px solid #d89c68;
}

.project_description.project_description__section-3 .project_description_title::before {
    border-top: 2px solid #d89c68;
    border-left: 2px solid #d89c68;
}

.project_description.project_description__section-4 .project_description_title {
    font-family: 'KingfisherRO-Bold';
    color: #1ca64c;
    border-right: 1px solid #1ca64c;
}

.project_description.project_description__section-4 .project_description_title::before {
    border-top: 2px solid #1ca64c;
    border-left: 2px solid #1ca64c;
}

.project_description.project_description__section-5 .project_description_title {
    font-family: 'KingfisherRO-Bold';
    color: #d2cab8;
    border-right: 1px solid #d2cab8;
}

.project_description.project_description__section-5 .project_description_title::before {
    border-top: 2px solid #d2cab8;
    border-left: 2px solid #d2cab8;
}

/** END blocurile cu descrieri de proiecte **/

/** blocurile cu proiecte **/
.project_block {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: cover;
    overflow: hidden;
}

.project_block::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 200%;
    content: " ";
    transform: rotate(62deg) translateX(-103%);
    background:red;
}

.project_block p {
    font-family: 'KingfisherRO-Bold';
    position: relative;
    top: .75em;
    left: .75em;
    font-size: 1.2em;
    line-height: 1.1em;
    color: #fff;
    text-shadow: 1px 1px 0px #416034;
}

a.project {
    text-decoration: none !important;
}

.project_block.project_block__section-1::before {
    background-color: #b8b300;
}

.project_block.project_block__section-2::before {
    background-color: #4ecae8;
}

.project_block.project_block__section-2.special::before {
    transform: rotate(62deg) translateX(-150%);
    /*width: 100%;*/
}


.project_block.project_block__section-3::before {
    background-color: #d89c68;
}

.project_block.project_block__section-3.special::before {
    /* transform: rotate(41deg) translateX(-95%); */
    width: 100%;
}

.project_block.project_block__section-3.special1x2::before {
    transform: rotate(62deg) translateX(-150%);
    /*width: 100%;*/
}
.project_block.project_block__section-3.special_1x2a::before {
    transform: rotate(62deg) translateX(-92%);
    /*width: 100%;*/
}

.project_block.project_block__section-4::before {
    background-color: #1ca64c;
}

.project_block.project_block__section-4.special::before {
    /* transform: rotate(41deg) translateX(-95%); */
    width: 100%;
}
.project_block.special_2x1::before {
    /* transform: rotate(41deg) translateX(-95%); */
    width: 100%;
}
.project_block.project_block__section-5::before {
    background-color: #d2cab8;
}

.project_block.project_block__section-5.special::before {
    /*transform: rotate(62deg) translateX(-150%);*/
    width: 100%;
}


@media screen and (max-width: 767px) {
    .project_description_header {
        flex-wrap: wrap;
    }

    .project_description_title {
        border: none !important;
        /*font-size: 1.2em;*/
        padding-bottom: 10px;
    }

    .project_read {
        margin: 100px auto;
        box-sizing: border-box;
        padding: 0.5em;
        font-size: 1em;
    }
}

@media screen and (max-width: 500px) {

    .project_description.see_more p.text-center {
        font-size: 0.5em;
    }
}

@media screen and (max-width: 1280px) {
    .project_block p {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 1024px) {
    .project_block p {
        font-size: 1.0em;
    }
}

/** END blocurile cu proiecte **/

.project_description.produs .project_description_header {
    padding-bottom: 10px;
    position: relative;
    z-index: 1;
    background: transparent;
    text-shadow: 1px 1px 10px #fff;
}

.project_description.produs div.col-xs-12.col-sm-12.col-md-12.text-center {
    position: static;
}

.project_description.produs img.img-responsive {
    /* position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
}

/* .project_description.white_shadow_left */
.project_description.white_shadow_left {
    -webkit-box-shadow: inset 400px -1px 300px 55px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset 400px -1px 300px 55px rgba(255, 255, 255, 1);
    box-shadow: inset 400px -1px 300px 55px rgba(255, 255, 255, 1);

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.project_description.white_shadow_left .project_description_header {
    position: relative;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    background: transparent;
    display: block;
    width: 30%;
    padding: 20px;
}

.project_description.white_shadow_left .project_description_header::before,
.project_description.white_shadow_left .project_description_header::after {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    content: "";
}

.project_description.white_shadow_left .project_description_header::before {
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    top: 0;
    left: 0;
}

.project_description.white_shadow_left .project_description_header::after {
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    bottom: 0;
    right: 0;
}

.project_description.white_shadow_left .withoutRightBorder.project_description_header::after {
    border-bottom:0;
    border-right: 0;
    bottom: 0;
    right: 0;
}




.project_description.white_shadow_left .project_description_header.section-1::before,
.project_description.white_shadow_left .project_description_header.section-1::after {
    border-color: #b3b512;
}

.project_description.white_shadow_left .project_description_header .project_description_title {
    display: block;
    font-size: 2.4vmax;
    line-height: 2.5vmax;
    color: rgb(0, 0, 0);
    text-transform: none !important;
    margin-bottom: 5px;

    font-family: "KingfisherRO-Bold";
    text-transform:uppercase !important;
    font-size: 2.6em;
    line-height: 1em !important;
    margin-bottom:20px;
}

.project_description.white_shadow_left .project_description_header .project_description_title:before {
    border: none;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.project_description.white_shadow_left .project_description_header .project_description_details p {
    font-size: 1.3vmax;
    line-height: 1.45vmax;
    /*color: rgb(0, 0, 0);*/
    color: #333333;
    font-family: "Open Sans";
}

@media screen and (max-width: 768px) {
    .project_description.white_shadow_left {
        -webkit-box-shadow: inset 50px -1px 70px 25px rgba(255, 255, 255, 1);
        -moz-box-shadow: inset 50px -1px 70px 25px rgba(255, 255, 255, 1);
        box-shadow: inset 50px -1px 70px 25px rgba(255, 255, 255, 1);
        padding: 10px;
    }

    .project_description.white_shadow_left .project_description_header {
        transform: translateY(0);
        width: calc(100% - 44px);
        left: 12px;
        margin: 10px;
    }

    .project_description.white_shadow_left .project_description_header .project_description_title {
        font-size: 4vmax;
        line-height: 4.1vmax;
    }

    .project_description.white_shadow_left .project_description_header .project_description_details p {
        font-size: 2.3vmax;
        line-height: 2.3vmax;
    }
}

/* block__quarters*/

.blocks .block .block__quarters {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.blocks .block .block__quarters .block__quarter {
    position: relative;
    padding: 0;
    height: 50%;
    min-height:230px;
    background-size: cover;
    background-position: center;
    overflow: hidden;

}

.blocks .block .block__quarters .block__quarter .block__quarter--overlay {
    position: absolute;
    width: 100%;
    height: 60px;
    transition: all .5s ease-in-out;
    color: #fff;
    overflow: hidden;
    z-index: 1;
}

.blocks .block .block__quarters .block__quarter:nth-child(1) .block__quarter--overlay {
    background-color: #b3b512;
}

.blocks .block .block__quarters .block__quarter:nth-child(2) .block__quarter--overlay {
    background-color: #d59d69;
}

.blocks .block .block__quarters .block__quarter:nth-child(3) .block__quarter--overlay {
    background-color: #57c7e7;
}

.blocks .block .block__quarters .block__quarter:nth-child(4) .block__quarter--overlay {
    background-color: #f8cf2d;
}

.blocks .block .block__quarters .block__quarter .block__quarter--overlay:hover {
    height: 100%;
}

.blocks .block .block__quarters .block__quarter .block__quarter--overlay > div {
    position: relative;
    margin: auto 0;
    top: 0;
    bottom: 0;
    transition: all .3s ease;

}

.blocks .block .block__quarters .block__quarter .block__quarter--overlay:hover > div {
    top: 50%;
    transform: translateY(-50%);
}

.blocks .block .block__quarters .block__quarter .block__quarter--overlay .block__quarter--overlay__title {
    position: relative;
    font-size: 2.1vmax;
    font-weight: bold;
    width: 80%;
    margin: auto;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.blocks .block .block__quarters .block__quarter .block__quarter--overlay .block__quarter--overlay__description {
    position: relative;
    font-size: 1.8vmax;
    font-weight: 300;
    text-align: center;
    width: 55%;
    margin: auto;
    /*margin-right: 10%;*/

}

.blocks .block .block__quarters .block__quarter .block__quarter--corner {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 75px;
    height: 40px;
    padding: 10px;

    text-align: right;
    opacity: 1;
}

.blocks .block .block__quarters .block__quarter .block__quarter--corner span {
    color: #fff;
    position: relative;
}

.blocks .block .block__quarters .block__quarter .block__quarter--corner::before {
    width: 400px;
    height: 400px;
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    z-index: 0;
    transform: rotate(51deg) translateX(-17%);
    opacity: .5;
}

.blocks .block .block__quarters .block__quarter:nth-child(1) .block__quarter--corner::before {
    background: #b3b512;
}

.blocks .block .block__quarters .block__quarter:nth-child(2) .block__quarter--corner::before {
    background: #d59d69;
}

.blocks .block .block__quarters .block__quarter:nth-child(3) .block__quarter--corner::before {
    background: #57c7e7;
}

.blocks .block .block__quarters .block__quarter:nth-child(4) .block__quarter--corner::before {
    background: #f8cf2d;
}

@media screen and (max-width: 992px) {
    .blocks .block .block__quarters .block__quarter .block__quarter--overlay .block__quarter--overlay__title {
        font-size: 2vmax;
    }

    .blocks .block .block__quarters .block__quarter .block__quarter--overlay .block__quarter--overlay__description {
        font-size: 1.8vmax;
    }
}

@media screen and (max-width: 768px) {
    .blocks .block .block__quarters .block__quarter {
        height: 25%;
        min-height: 250px;
    }

    .blocks .block .block__quarters .block__quarter .block__quarter--overlay .block__quarter--overlay__title {
        font-size: 2vmax;
    }

    .blocks .block .block__quarters .block__quarter .block__quarter--overlay .block__quarter--overlay__description {
        font-size: 1.8vmax;
    }
}

@media screen and (max-width: 480px) {
    .blocks .block .block__quarters .block__quarter {
        height: 25%;
        min-height: 200px;
    }

    .blocks .block .block__quarters .block__quarter .block__quarter--overlay .block__quarter--overlay__title {
        font-size: 1.5vmax;
    }

    .blocks .block .block__quarters .block__quarter .block__quarter--overlay .block__quarter--overlay__description {
        font-size: 1.2vmax;
    }
}

/* block - media */
.block .block__media {
    width: 100%;
    height: 100%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;

    padding: 0.1px;
}

.block .block__media.section-green {
    color: #b3b511;
}

.block .block__media.section-brown {
    color: #d59d69;
}

.block .block__media.section-blue {
    color: #57c7e7;
}

.block .block__media.section-yellow {
    color: #f8cf2d;
}

.block .block__media .block__media--title {
    font-size: 2.5vmax;
    font-weight: bold;
    width: calc(100% - 40px);
    margin: 30px auto 20px;
    text-align: left;
}

.block .block__media .block__media--title span {
    font-size: 1.8vmax;
    font-weight: 400;
}

.block .block__media .block__media--description {
    color: #333333;
    width: calc(100% - 40px);
    margin: auto;
    font-size: .87vmax;
    font-weight: 400;
}

.block .block__media .block__media--media {
    width: calc(100% - 40px);
    margin: 20px auto 10px;

}

.block .block__media .block__media--media .block__media--media__video {
    position: relative;
    display: inline-block;
    width: 295px;
    height: 180px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;

    height: 0;
    width: 33%;
    padding-bottom: 18.55%;
    background-color: #000;
}


.block .block__media .block__media--media .block__media--media__icon {
    width: 180px;
    height: 180px;
    overflow: hidden;
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;

    border-radius: 10px;
    margin-right: 10px;

    height: 0;
    width: 18.55%;
    padding-bottom: 18.55%;

}

.block .block__media .block__media--button {
    display: block;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    font-size: 18px;
    margin: 10px 20px 20px;
    color: rgb(255, 255, 254);
    font-weight: 800;
    text-decoration: none;
    width: 270px;
    text-align: center;
}

.block .block__media.section-green .block__media--button {
    background: #b3b511;
}

.block .block__media.section-brown .block__media--button {
    background: #d59d69;
}

.block .block__media.section-blue .block__media--button {
    background: #57c7e7;
}

.block .block__media.section-yellow .block__media--button {
    background: #f8cf2d;
}

@media (max-width: 480px) {
    .block .block__media .block__media--button {
        width: calc(100% - 40px);
    }
}

/* block-gallery */

.block-gallery {
    border-radius: 16px;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;
    grid-column: full-start / full-end;
    display: grid;
    /*grid-template-columns: repeat(4, 25%);*/
    /*grid-template-rows: repeat(3, 33.333333%);*/

    grid-gap: 10px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

@media (max-width: 768px) {
    .block-gallery {
        /*grid-template-columns: repeat(2, 50%);*/
        /*grid-template-rows: repeat(6, 16.666666%);*/
    }
}

/**/
.block-gallery .window {
    background-size: cover;
    background-position: center;
}

/**/
.block-gallery.section-02 .window.window-1 {
    grid-row: 1/span 1;
    grid-column: 1/ span 2;
}

.block-gallery.section-02 .window.window-2 {
    grid-row: 1/span 2;
    grid-column: 3/ span 2;
}

.block-gallery.section-02 .window.window-3 {
    grid-row: 2/span 2;
    grid-column: 1/ span 1;
}

.block-gallery.section-02 .window.window-4 {
    grid-row: 2/span 1;
    grid-column: 2/ span 1;
}

.block-gallery.section-02 .window.window-5 {
    grid-row: 3/span 1;
    grid-column: 2/ span 1;
}

.block-gallery.section-02 .window.window-6 {
    grid-row: 3/span 1;
    grid-column: 3/ span 1;
}

.block-gallery.section-02 .window.window-7 {
    grid-row: 3/span 1;
    grid-column: 4/ span 1;
}

@media (max-width: 768px) {
    .block-gallery.section-02 .window.window-1 {
        grid-row: 1/span 1;
        grid-column: 1/ span 2;
    }

    .block-gallery.section-02 .window.window-2 {
        grid-row: 4/span 2;
        grid-column: 1/ span 2;
    }

    .block-gallery.section-02 .window.window-3 {
        grid-row: 2/span 2;
        grid-column: 1/ span 1;
    }

    .block-gallery.section-02 .window.window-4 {
        grid-row: 2/span 1;
        grid-column: 2/ span 1;
    }

    .block-gallery.section-02 .window.window-5 {
        grid-row: 3/span 1;
        grid-column: 2/ span 1;
    }

    .block-gallery.section-02 .window.window-6 {
        grid-row: 6/span 1;
        grid-column: 1/ span 1;
    }

    .block-gallery.section-02 .window.window-7 {
        grid-row: 6/span 1;
        grid-column: 2/ span 1;
    }
}

/**/
.block-gallery.section-06 .window.window-1 {
    grid-row: 1/span 1;
    grid-column: 1/ span 2;
}

.block-gallery.section-06 .window.window-2 {
    grid-row: 1/span 2;
    grid-column: 3/ span 2;
}

.block-gallery.section-06 .window.window-3 {
    grid-row: 2/span 2;
    grid-column: 1/ span 2;
}

.block-gallery.section-06 .window.window-4 {
    grid-row: 3/span 1;
    grid-column: 3/ span 2;
}

@media (max-width: 768px) {
    .block-gallery.section-06 .window.window-1 {
        grid-row: 1/span 1;
        grid-column: 1/ span 2;
    }

    .block-gallery.section-06 .window.window-2 {
        grid-row: 4/span 2;
        grid-column: 1/ span 2;
    }

    .block-gallery.section-06 .window.window-3 {
        grid-row: 2/span 2;
        grid-column: 1/ span 2;
    }

    .block-gallery.section-06 .window.window-4 {
        grid-row: 6/span 1;
        grid-column: 1/ span 2;
    }
}

/* "block__statistics*/
.block-statistics {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    padding: 5% 10%;
}

.block-statistics .block-statistics__container {
    position: relative;
    width: 100%;
    top: 50%;
    left: 50%;
    padding: 10px;

    transform: translateY(-50%) translateX(-50%);

    margin: auto;
}

.block-statistics .block-statistics__container .block-statistics__container__know {
    font-size: 25px;
}

.block-statistics .block-statistics__container .block-statistics__container__infos {
    display: block;
    text-align: center;
    margin: 20px 0;

}

.block-statistics .block-statistics__container .block-statistics__container__infos .block-statistics__container__info {
    width: 32%;
    padding: 0;
    margin: auto;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

.block-statistics .block-statistics__container .block-statistics__container__infos .block-statistics__container__info h3 {
    font-size: 4.5vmax;
    font-weight: 700;
    padding: 5px;
    margin: 0;
}

.block-statistics .block-statistics__container .block-statistics__container__infos .block-statistics__container__info span {
    font-size: 15px;
    font-weight: 500;
    display: inline;
}

.block-statistics .block-statistics__container .block-statistics__container__infos .block-statistics__container__info h4 {
    font-size: 20px;
    font-weight: 700;
    display: inline;
    text-shadow: 0px 0px  2px rgba(255,255,255,1);
}

.block-statistics .block-statistics__container .block-statistics__container__media {
    text-align: center;
    width: 73%;
    height:0;
    padding-bottom: 41%;
    margin: auto;
    border-radius: 10px;
    overflow:hidden;
}


@media (max-width:992px) {
    .block-statistics .block-statistics__container .block-statistics__container__media {
        width: 57%;
        padding-bottom: 31%;
    }
}


@media (max-width:768px) {
    .block-statistics .block-statistics__container {
        top: 0;
        left: 0;
        padding: 10px;
        transform: translateY(0) translateX(0);

    }
}


@media (max-width: 480px) {
    .block-statistics {
        padding: 5%;
    }

    .block-statistics .block-statistics__container {
        top: 0;
        left: 0;
        padding: 10px;
        transform: translateY(0) translateX(0);
    }

    .block-statistics .block-statistics__container .block-statistics__container__infos .block-statistics__container__info{
        text-align: center;
    }

    .block-statistics .block-statistics__container .block-statistics__container__infos .block-statistics__container__info h3 {
        font-size: 5vmax;
    }

    .block-statistics .block-statistics__container .block-statistics__container__infos .block-statistics__container__info span {
        font-size: 13px;
    }

    .block-statistics .block-statistics__container .block-statistics__container__infos .block-statistics__container__info h4 {
        font-size: 15px;
    }

    .block-statistics .block-statistics__container .block-statistics__container__media {
        text-align: center;
        width: 100%;
        margin: auto;
    }

}

/* backgrounds */
.bg-white {
    background: #fff !important;
}

.bg-green {
    background: #b3b511 !important;
}

.bg-green-second{
    background: #dbd97f !important;
}

.bg-brown {
    background: #d39b64 !important;;
}

.bg-blue {
    background: #57c7e7 !important;
}

.bg-turquoise{
    background: #50beac !important;
}

.bg-yellow {
    background: #f8cf2d !important;
}

.bg-forest-green{
    background: #1ca64c !important;
}

.bg-red{
    background: #d2cab8 !important;
}



/* colors */
.txt-white {
    color: #fff !important;
}

.txt-green {
    color: #b3b511 !important;
}

.txt-brown {
    color: #d59d69 !important;
}
.txt-brown-original {
    color: #80726a !important;
}

.txt-blue {
    color: #57c7e7 !important;
}

.txt-turquoise{
    color: #50beac !important;
}

.txt-yellow {
    color: #f8cf2d !important;
}

.txt-forest-green{
    color: #1ca64c !important;
}
.txt-red{
    color: #d2cab8 !important;
}



/* block button */
.block__button {
    display: block;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    font-size: 18px !important;
    margin: 10px 20px 20px;
    color: rgb(255, 255, 254);
    font-weight: 800 !important;
    text-decoration: none;
    width: 270px;
    text-align: center;
}

.block__button:hover,
.block__button:link,
.block__button:visited,
.block__button:active {
    color: rgb(255, 255, 254);
    text-decoration: none;
}

@media (max-width: 480px) {
    .block__button {
        width: calc(100% - 40px);
    }
}



/*  h3, p*/
.block h3.description-title{
    /*font-size:30px;*/
    font-size:2vmax;
    text-align: center;
    margin:0 0 10px;
}
.block p.description-text{
    /*font-size:20px;*/
    font-size: 1.34vmax;
    text-align: center;
}

@media (max-width:480px){
    .block h3.description-title{
        font-size:2.5vmax;
    }
    .block p.description-text{
        font-size: 1.7vmax;
    }
}
@media (max-width:480px){
    .block h3.description-title{
        font-size:2.5vmax;
    }
    .block p.description-text{
        font-size: 1.7vmax;
    }
}



/*
*/

.block_list_description > li span{
    font-size:20px;
}

/* block-center-content */
.block-center-content{
    position:relative;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}

/* addontext */
.block .addontext{
    position:absolute;
    background: rgba(255,255,255,0.9);
    height: auto !important;
    width:100%;
    z-index:1;
    bottom: 12px;
    padding: 2px 10px;
    color: #50beac;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    display:block;
    line-height: 17px;
    min-height:39px;


}

.block .addontext_ambianta{
    position:absolute;
    background: rgba(255,255,255,0.9);
    height: auto !important;
    width:auto;
    z-index:1;
    top: 17px;
    bottom:auto;
    left:17px;
    right:auto;
    padding: 2px 12px;
    color: #50beac;
    text-align: center;
    font-size: 31px;
    font-weight: bold;
}

.block .addontext_ambianta--left,
.block .addontext_ambianta--top-left
{   top: 17px;
    bottom:auto;
    left:17px;
    right:auto;
}
.block .addontext_ambianta--right,
.block .addontext_ambianta--top-right
{
    top: 17px;
    bottom:auto;
    right:17px;
    left:auto;
}
.block .addontext_ambianta--bottom-left{
    bottom: 17px;
    top:auto;
    left:17px;
    right:auto;
}
.block .addontext_ambianta--bottom-right{
    bottom: 17px;
    top:auto;
    right:17px;
    left:auto;
}