
.map {
	position: relative;
	height: 100%;
}

.map img.map__image {
	position: relative;
	width: 100%;
	height: auto;
	cursor: pointer;
}

.map .map__zones {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.map .map__zones .map__zone {
	position: absolute;
	cursor: pointer;
}

.map .map__zones .map__zone img.map__hotspot {
	max-width: 100%;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.map .map__zones .map__zone .map__hotspot__label {
}

/** Custom **/
.map .map__zones .map__zone .map__hotspot__label {
	position: absolute;
	top: calc(50% - 32px);
	left: calc(50% + 23px);
	padding: 5px 15px;
	width: auto;
	height: auto;
	color: #fff;
	background-color: #000;
	white-space: nowrap;
	-webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
}

.map {
	border-radius: 10px;
	overflow: hidden;
}


.map__image {
	border-radius: 10px;
}

.yellow_hotspot {
	position: absolute;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background-color: #ffed00;
	color: #000;
	text-align: center;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
}
.yellow_hotspot_asterisc {
	position: absolute;
    right: 0%;
    bottom: 0;
    color: #000;
    font-weight: bold;
    background: rgba(255,255,255,.5);
    line-height: 1em;
    text-align: right;
	padding: 5px;
}

.yellow_hotspot p {
	margin: 0;
	padding: 0;
}

.yellow_hotspot p.title {
	padding-top: 20px;
	font-size: 22px;
	font-weight: bold;
}

.yellow_hotspot p.title span {
	font-size: 10px;
}

.yellow_hotspot p.desc {
	padding-top: 6px;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}

.yellow_hotspot p.desc span {
	font-size: 8px;
	font-style: italic;
}