@media (min-width: 992px) {
    #grid > div > div > div.project_description_header > div.project_description_details > p {
        font-size: 1.3vmax;
        line-height: 1.5vmax;
        margin-bottom: 10px;
        /*text-indent: 30px;*/
    }

    #grid > div > div > div.col-xs-12.col-sm-12.col-md-12.text-center {
        top: -20px !important;
    }

    #grid > div > div > div.block__media--description > * {
        font-size: 1.3vmax !important;
        line-height: 1.3vmax;
    }

    #grid > div > div > a > div > p.desc {
        font-size: 11.5px !important;
        margin: 0 7px;
    }

    #grid > div > div > div.project_description_header > div.project_description_title.home  {
        font-size: 1.6em;
    }

    #grid > div > div > div.project_description_header > div.project_description_details.home   {
        /*font-size: 1.6vmin !important;*/
    }

}


@media (max-width: 992px) {

    #grid > div > div > div.block__media--description > * {
        font-size: 1.7vmax !important;
        line-height: 1.7vmax;
    }

    #grid > div > div > a > div > p.desc {
        font-size: 11.5px !important;
        margin: 0 7px;
    }

    #grid > div > div > div.project_description_header > div.project_description_title.home  {
        font-size: 1.6em;
    }

    #grid > div > div > div.project_description_header > div.project_description_details.home   {
        /*font-size: 1.6vmin !important;*/
    }
}