@media  (max-width: 768px) {
    /*
     --------------------------------------------------
    home
     --------------------------------------------------
     */
    #homepage_container > section.page-1-ambianta > div > div.col-xs-12.col-sm-12.col-md-12 > h1 {
        /*margin-bottom: 120px !important;*/
        width: 100% !important;
        /*font-size: 5.8vmax !important;*/
    }

    #grid > div > div > div.project_description_header > div.project_description_title > p {
        font-size: 3.7vmax;
        line-height: 3.8vmax;
    }

    #grid > div > div > div.project_description_header > div.project_description_details {
        font-size: 2vmax !important;
        line-height: 2.1vmax;
    }

    /*
   --------------------------------------------------
   menu
   --------------------------------------------------
   */
    #main_menu > div.col-xs-12.col-md-2 > div > div {
        font-size: 3.7vmax;
        line-height: 3.8vmax;
    }

    #main_menu > div.col-xs-12.col-md-2 > div > ul > li > a {
        font-size: 3vmax;
        line-height: 3.1vmax;
    }

    #main_menu > div > div {
        margin: 60px 0 20px;
    }

    #main_menu > div > div + {
        margin: 30px 0 20px;
    }

    /*
    --------------------------------------------------
    projects
    --------------------------------------------------
    */

    /*all*/
    #grid > div > div > div.col-xs-12.col-sm-12.col-md-12.text-center {
        top: -20px !important;
    }

    /* totul-porneste-de-la-spatiu */

    #grid > div > div > div.block__media--title {
        font-size: 2.8vmax;
    }

    #grid > div > div > div.block__media--title > span {
        font-size: 2.5vmax;
    }

    #grid > div > div > div.block__media--description > * {
        font-size: 2vmax;
    }

    #grid > div > div > div.block__media--media > div.block__media--media__video {
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 56%;
        margin-bottom: 10px;
    }

    /* planificare-si-design */
    #grid > div > div > div > div.block-statistics__container__media {
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 56%;
        margin-bottom: 10px;
    }


    #grid > div.block > div > div.block-center-content > p{
        font-size:2vmax;
    }
}