@media (max-width: 480px) {

    /*
     --------------------------------------------------
    home
     --------------------------------------------------
     */
    #homepage_container > section.page-1-ambianta > div > div.col-xs-12.col-sm-12.col-md-12 > h1 {
        margin-bottom: 120px !important;
        width: 100% !important;
        font-size: 5.8vmax !important;
    }

    #grid > div > div > div.project_description_header > div.col-xs-12.col-sm-5.col-md-4.project_description_title > p {
        font-size: 3.7vmax;
        line-height: 3.8vmax;
    }

    #grid > div > div > div.project_description_header > div.col-xs-12.col-sm-7.col-md-8.project_description_details {
        font-size: 2.2vmax !important;
        line-height: 2.3vmax;
    }

    /*

    /*
    --------------------------------------------------
    menu
    --------------------------------------------------
    */
    #main_menu > div.col-xs-12.col-md-2 > div > div {
        font-size: 3.7vmax;
        line-height: 3.8vmax;
    }

    #main_menu > div.col-xs-12.col-md-2 > div > ul > li > a {
        font-size: 3vmax;
        line-height: 3.1vmax;
    }

    #main_menu > div > div {
        margin: 60px 0 20px;
    }

    #main_menu > div > div + {
        margin: 30px 0 20px;
    }

    /*
    --------------------------------------------------
    projects
    --------------------------------------------------
    */
    /* all */
    #grid > div > div > div > div.project_description_details > p {
        font-size: 2.5vmax;
    }

    #grid > div > div > div.col-xs-12.col-sm-12.col-md-12.text-center {
        top: 0 !important;
    }

    #grid > div > div > div.addontext {
        font-size: 1.8vmax !important;
        bottom: 4px !important;
    }

    div.addontext_ambianta {
        font-size: 2.5vmax !important;
    }

    #grid > div > a > div > p {
        font-size: 2.2vmax !important;
    }

    #grid > div > div > a > div.yellow_hotspot {
        width: 120px;
        height: 120px;
    }

    #grid > div > div > a > div > p.desc {
        font-size: 1.6vmax !important;
    }

    /* totul-porneste-de-la-spatiu */
    #grid > div > div > div > div.block__quarter--overlay > div > div.block__quarter--overlay__title {
        font-size: 3vmax;
    }

    #grid > div > div > div > div.block__quarter--overlay > div > div.block__quarter--overlay__description {
        font-size: 2.5vmax;
    }

    #grid > div > div > div.block__media--title {
        font-size: 2.8vmax;
    }

    #grid > div > div > div.block__media--title > span {
        font-size: 2.5vmax;
    }

    #grid > div > div > div.block__media--description > * {
        font-size: 2vmax;
    }

    #grid > div > div > div.block__media--media > div.block__media--media__video {
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 56%;
        margin-bottom: 10px;
    }

    /* planificare-si-design */
    #grid > div > div > div > div.block-statistics__container__media {
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 56%;
        margin-bottom: 10px;
    }

}