
.page-wrapper{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    height: auto;
}
.page-text-wrapper{
	background: #fff;
	padding: 25px;
	color: #000;
	border-radius: 16px;
	font-size: 14px;
	line-height: 1.5;
}
.page-1-ambianta {
	position: relative;
	background-image: url('../img/pag-1-ambianta.jpg');
	background-repeat: no-repeat;
    background-size: cover; /* cover */
	background-position: center right;
	color: #fff;
	min-height: 650px;
}
.page-1-ambianta a{
	color: #fff;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: bold;
}
.mobilier{
	color: #80726a;
}
.mobilier .project_description_header{
	height: calc(100% - 64px);
}
.project_description.mobilier .project_description_title::before {
    border-top: 2px solid #80726a;
    border-left: 2px solid #80726a;
}
.mobilier .project_description_title{
	font-family: 'KingfisherRO-Bold';
	margin-bottom: 40px;
	text-transform: none;
	font-size: 2.6em;
    line-height: .9em;
}
.mobilier a{
	color: #80726a;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: bold;
}
.mobilier p{
	font-size: 2.1em;
	/*margin-bottom: 40px;*/
}
.white-bg{
	padding-bottom: 0 !important;
	background-color: #fff;
}
.brown-bg{
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: #80726a;
	padding: 20px!important;
	border-radius: 10px;
}

div.block.brown-bg {
	padding: 20px!important;
}

.brown-bg-inverse{
	color: #80726a;
	background-color: #fff;
}

.brown-bg p{
	margin-bottom: 20px;
}

.produs{
	color: #000;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	border-radius: 3px;
}
.project_description.produs .project_description_header {
	padding-left: 15px;
    padding-top: 15px;	
}
.project_description.produs .project_description_title::before {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
	top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
}
.produs .project_description_title{
	font-size: .8em;
	text-transform: none;
}
.no-image{
	background: #f8f6f7;
	color: #bfbfbf;
	font-size: 1.4em;
	display: flex;
	align-items: center;
	box-shadow: none;
}
.produs div:not(.project_description_header){
	height: calc(100% - 64px);
}
.produs .img-responsive{
	max-height: 100%;
    margin: 0 auto;
}

.inspiratie{
	color: #000;
	/* box-shadow: 0 0 5px rgba(0,0,0,.3); */
	border-radius: 3px;
}
.project_description.inspiratie .project_description_header {
	padding-left: 15px;
    padding-top: 30px;
	min-height: 120px;
}
.project_description.inspiratie .project_description_title::before {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
	top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
}
.inspiratie .project_description_title{
	position: relative;
    padding-right: 20px;
    margin-right: 20px;
    font-size: 1.2em;
	border-right: 1px solid #6d797a;
	text-transform: none;
	color: #6d797a;
	line-height: .9em;
	padding-left: 5px;
    padding-top: 5px;
}
.inspiratie .project_description_title span{
	text-transform: uppercase;
	font-weight: bolder;
}
.inspiratie .project_description_title .red-text{
	font-size: 1.4em;
	color: #f40e16;
}

.see_more a {
	text-decoration: none;
	color: #bfbfbf
}

@media all and (max-width: 767px){
	.page-wrapper{
		display: block;
		height: calc(100% - 30px); /* */
	}
	.page-text-wrapper{
		padding: 15px;
		border-radius: 16px;
	}
	.page-wrapper p{
		font-size: .9em;
	}
	.page-1-ambianta a.discover {
		/*top: -38px;*/
		display: block;
		height: 90px;
		top: 10px;
		font-size: 16px;
	}
	.see_more a {
		font-size: 12px;
	}

	img.sticker {
		max-height: 22px;
	}
}
@media all and (max-width: 500px){
	.project_description.produs .project_description_header {
		padding-top: 15px;
		padding-left: 10px;
		padding-right: 0px;
		padding-bottom: 5px;
	}

	.project_description.produs .project_description_header.with_sticker {
		padding-top: 5px;
	}

	.project_description.produs .project_description_title {
		font-size: 10px;
		margin: 0;
		padding: 0;
		padding-right: 2px;
	}
}

#section-1 .project_description,
#section-2 .project_description,
#section-3 .project_description,
#section-4 .project_description,
#section-5 .project_description
{
	background-position-x: right;
}

@media all and (max-width: 768px){
	#section-1 .project_description_title {
		white-space: normal;
	}
	#section-1 .project_description_title br {
		display: none;
	}
	#section-2 .project_description_title {
		white-space: normal;
	}
	#section-2 .project_description_title br {
		display: none;
	}
	#section-3 .project_description_title {
		white-space: normal;
	}
	#section-3 .project_description_title br {
		display: none;
	}

	.page-1-ambianta {
		background-image: url('../img/ambiante/home-mobile.jpg') !important;
	}

	#section-1 .project_description {
		/*background-image: url('../img/home-proiect1.png') !important;*/
		background-position-x: right;
		background-position-y: center;
	}

	#section-2 .project_description {
		/*background-image: url('../img/home-proiect2.png')  !important;*/
		background-position-x: left;
		background-position-y: 150px;
	}

	#section-3 .project_description {
		/*background-image: url('../img/home-proiect3.png')  !important;*/
		background-position-x: center;
		background-position-y: center;
	}
}