.v7__embed__center{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.v7__embed__overlay {
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 1);
	z-index: 10000;
}
.v7__embed__overlay-iframe-container{
	position: absolute;
	display: block;
	width: 80%;
	height:60%;
	background: rgba(0, 0, 0, .5);
	padding: 20px;
}
.v7__embed__overlay-video-container {
	width: calc(100% - 40px);
	height: calc(100% - 40px);
	margin: auto;
}

.v7__embed__overlay-buttons{
	background: #fff; 
	border-radius: 3px;
	padding: 10px;
	margin: 5px;
}
.v7__embed__overlay-buttons:hover{
	cursor: pointer;
}

.popup_container {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 250px;
	height: 150px;
	padding: 20px;
	box-sizing: border-box;
 	border: 2px solid #ff0000;
 	text-align: center;
 	background: #fff;
}

.popup_container p {
	text-align: center;
	font-size: 14px;
}

.popup_container button {
	padding: 5px 20px;
	text-transform: uppercase;
	color: #fff;
	background: #ff0000;
	border: none;
}

img.zoomed_image {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}