

.product_container {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 600px;
	height: 400px;
	min-height: 400px;
	padding: 0;
	background: #fff;
	font-family: Verdana;
	overflow-y: auto;
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.3);
}

.product_container.multi {
	height: 570px;
	min-height: 570px;
}

.product_container h2 {
	margin: 0;
	padding: 10px 5px;
	color: #fff;
	width: 100%;
	background: #000;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
}

.product_container p {
	font-size: 1em;
	margin: 0;
}

.product_container p.code {
	font-size: 12px;
}
.product_container p.code label {
	font-weight: bold;
}

.product_container p.prices_date {
	font-size: 12px;
}

.product_container a.pdf {
	font-size: 12px;
	font-weight: bold;
	color: #ff0000;
	display: none;
}

.product_container a.pdf.visible {
	display: block;
}

.product_container p.desc {
	min-height: 210px;
	margin-bottom: 10px;
	font-size: 14px;
}

.product_container p.desc label {
	font-weight: bold;
}

.product_container .halfs {
	position: relative;
	width: 100%;
	font-size: 0;
	line-height: 40px;
	margin-bottom: 5px;
}

.product_container .halfs .half {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	font-size: medium;
	font-size: initial;
}

.product_container p.price {
	font-size: 15px;
	font-weight: bold;
}

.product_container .quantity {
	position: relative;
	float: right;
	width: 114px;
	height: 40px;
	background: #ff0000;
	border: 1px solid #ff0000;
	text-align: center;
}

.product_container .quantity button {
	display: inline-block;
	position: absolute;
	padding: 0;
	box-sizing: border-box;
	width: 28px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #fff;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	background: #ff0000;
}

.product_container .quantity button.minus {
	top: 3px;
	left: 2px;
}

.product_container .quantity button.plus {
	top: 3px;
	right: 2px;
}

.product_container .quantity input {
	position: absolute;
	width: 44px;
	height: 34px;
	top: 2px;
	left: 34px;
	padding: 0;
	line-height: 40px;
	text-align: center;
}

.product_container .red {
	position: relative;
	display: block;
	width: 100%;
	padding: 10px 0;
	margin-bottom: 5px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	background: #ff0000;
	border: none;
	text-transform: uppercase;
}

.product_container a.red:hover {
	text-decoration: none;
}

.product_container .red img {
	position: absolute;
	top: 8px;
	left: 6px;
}

.product_container button.close_popup {
	position: absolute;
	padding: 0;
	top: 2px;
	right: 3px;
	font-family: unset;
	width: 32px;
	height: 32px;
	line-height: 32px;
	font-size: 26px;
	color: #ffffff;
	vertical-align: bottom;
	background: transparent;
	border: none;
}

.product_container .image {
	position: relative;
	width: 100%;
	height: 240px;
	border: 1px solid #ff0000;
}
.product_container .image img {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

.product_container .multi_product_wrapper {
	position: relative;
	overflow-x: hidden;
	white-space: nowrap;
}

.product_container .multi_product {
	display: inline-block;
	float: none;
	position: relative;
	min-height: 140px;
	margin-top: 10px;
	padding: 0;
 	cursor: pointer;
 	background: #fff;
 	transition: background 0.3s;
}
.product_container .multi_product:hover {
	background: #ff0000;
}

.product_container .multi_product img {
	position: absolute;
	margin: auto;
	width: auto;
	height: auto;
	max-width: 70px;
	max-height: 70px;
	top: 5px;
	left: 0;
	right: 0;
}

.product_container .multi_product p {
	position: absolute;
	top: 80px;
	left: 0;
	width: 100%;
	padding: 0 5px;
	margin: 0;
	text-align: center;
	font-size: 0.9em;
	white-space: normal;
}

.product_container button.scroll_left {
	position: absolute;
	left: -15px;
	top: 50%;
	width: 30px;
	height: 30px;
	border: none;
	background-image: url('../img/scroll_left.jpg');
}
.product_container button.scroll_right {
	position: absolute;
	right: -15px;
	top: 50%;
	width: 30px;
	height: 30px;
	border: none;
	background-image: url('../img/scroll_right.jpg');
}

@media screen and (max-width: 600px) {
	.product_container {
		width: 100%;
		height: auto;
	}

	.product_container p.desc {
		min-height: 10px;
	}
}

@media screen and (max-width: 768px) {

	.product_container .multi_product_wrapper {
		white-space: normal;
	}

	.product_container .multi_product {
		float: left;
	}
}
