.slider-text-ambianta {
    margin-top: 100px;
    font-size: 4.5em
}

.slider-text-ambianta .slider-text-ambianta--prefix {
    display: inline-block !important;
    line-height: 4.9rem;
}

.slider-text-ambianta .slider-text-ambianta--slider {
    top:3px;
    padding: 0;
    margin: 0;
    width:auto;
    max-width:88%;

    display: inline-block !important;
}
.slider-text-ambianta .slider-text-ambianta--slider li{
    line-height: 4.9rem;
}



.slider-text-ambianta .slider-text-ambianta--postfix {
    font-size: 1.5em;
    display: block !important;
}

@media screen and( max-width:992px) {

}
@media screen and( max-width:768px) {

}
@media screen and( max-width:480px) {

}
