
#main_map_container {
	position: fixed;
	background: #fff;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
	z-index: 100001;
}

#intro_header {
	background-color: #020202;
	width: 100%;
	height: 60px;
	text-align: center;
}

#intro_header_logo {
	height: 100%;
	display: inline-block;
}

#intro_title_container {
	margin: 0 auto;
}

#intro_title {
	margin: 20px auto 10px auto;
	max-width: 100%;
}

#container_harta {
	margin: 0 auto;
}

#harta_magazine {
	width: 933px;
	height: 680px;
	position: absolute;
	left: 0px;
	right: 0px;
	margin: 0 auto;
}

#harta {
	width: 100%;
	height: 100%;
}

.map_store {
	width: 7.5%;
	height: 10%;
	position: absolute;
	cursor: pointer;
	background-color: #fff;
	opacity: 0;
	filter: alpha(opacity=0);
}

#map_bucuresti_popup {
	position: absolute;
	width: 230px;
	height: 120px;
	visibility: hidden;
}

.popup_store {
	color: #ffffff;
	background-color: #cd2210;
	font-size: 13px;
	font-family: Verdana, sans-serif;
	text-transform: uppercase;
	height: 33px;
	text-align: left;
	line-height: 33px;
	padding-left: 10px;
	cursor: pointer;
}
.credits{
	position:absolute;
	bottom:0;
	margin:0;
	text-align:center;
	width:100%;
}