

.wishlist_container {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 750px;
	height: 430px;
	min-height: 430px;
	padding: 0;
	background: #fff;
	font-family: Verdana;
}

.wishlist_container h2 {
	margin: 0;
	padding: 10px 5px;
	color: #fff;
	width: 100%;
	background: #000;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
}

.wishlist_container .wrapper {
	height: 300px;
	margin: 5px;
	box-sizing: border-box;
	border: 1px solid #d3d3d3;
}

.wishlist_container .wrapper .wrapper_header {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	background-color: #d3d3d3;
}

.wishlist_container .wrapper .wrapper_overflow {
	height: 230px;
	overflow-y: auto;
}

.wishlist_container .wrapper .wrapper_overflow .wishlist_item {
	clear: both;
	height: 96px;
	box-sizing: border-box;
	border-bottom: 1px solid #adadad;
}

.wishlist_container .wrapper .wrapper_overflow .wishlist_item .flex_vertical_center {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.wishlist_container .wrapper .wrapper_overflow .wishlist_item > div {
	height: 96px;
	position: relative;
}

.wishlist_container  .wrapper .wrapper_overflow .wishlist_item span.ref {
	position: absolute;
	bottom: 2px;
	color: #848484;
	font-size: 12px;
}

.wishlist_container .wrapper .wrapper_overflow .wishlist_item p.price {
	font-size: 16px;
	color: #ff0909;
}

.wishlist_container .wrapper .wrapper_overflow .wishlist_item div.desc {
	height: 94px;
	color: #848484;
	font-size: 12px;
	overflow-y: auto;
}

.wishlist_container .wrapper .wrapper_footer {
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	font-weight: bold;
	color: #000;
	background-color: #d3d3d3;
}

.wishlist_container .wrapper .wrapper_footer .total {
	display: block;
	padding: 0 20px;
	float: right;
	background-color: #adadad;
}

.wishlist_container .quantity {
	position: relative;
	display: inline-block;
	width: 114px;
	height: 40px;
	background: #adadad;
	border: 1px solid #adadad;
	text-align: center;
}

.wishlist_container .quantity button {
	display: inline-block;
	position: absolute;
	padding: 0;
	box-sizing: border-box;
	width: 28px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #fff;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	background: #adadad;
}

.wishlist_container .quantity button.minus {
	top: 3px;
	left: 2px;
}

.wishlist_container .quantity button.plus {
	top: 3px;
	right: 2px;
}

.wishlist_container .quantity input {
	position: absolute;
	width: 44px;
	height: 34px;
	top: 2px;
	left: 34px;
	padding: 0;
	line-height: 40px;
	text-align: center;
}

.wishlist_container button.delete {
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	width: 24px;
	height: 25px;
	border: 0;
	background-image: url('../img/delete_wishlist_item_btn.png');
	background-size: cover;
}

.wishlist_container .footer {
	margin: 5px;
}

.wishlist_container .footer button.remove_all {
	height: 28px;
	padding: 0 10px;
	line-height: 28px;
	font-size: 12px;
	color: #ff0000;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #ff0000;
}

.wishlist_container .footer button.print_wishlist {
	display: inline-block;
	float: right;
	width: 139px;
	height: 28px;
	margin-left: 5px;
	background-image: url('../img/wishlist_print_btn.png');
	background-size: cover;
	border: none;
	font-size: 0;
} 

.wishlist_container .footer button.send_wishlist {
	display: inline-block;
	float: right;
	width: 183px;
	height: 28px;
	margin-left: 5px;
	background-image: url('../img/wishlist_send_btn.png');
	background-size: cover;
	border: none;
	font-size: 0;
} 

.wishlist_container .footer p.disclaimer {
	clear: both;
	margin-top: 10px;
	font-size: 11px;
}

.wishlist_container button.close_popup {
	position: absolute;
	padding: 0;
	top: 2px;
	right: 3px;
	font-family: unset;
	width: 32px;
	height: 32px;
	line-height: 32px;
	font-size: 26px;
	color: #ffffff;
	vertical-align: bottom;
	background: transparent;
	border: none;
}


@media screen and (max-width: 768px) {
	.wishlist_container {
		width: 100%;
		height: auto;
	}

	.wishlist_container .wrapper .wrapper_overflow .wishlist_item > div {
		height: auto;
		position: relative;
	}

	.wishlist_container  .wrapper .wrapper_overflow .wishlist_item span.ref {
		position: relative;
		bottom: auto;
	}
}

@media screen and (max-width: 530px) {
	.wishlist_container .footer button.remove_all {
		width: 100%;
		margin-bottom: 5px;
	}

	.wishlist_container .footer button.print_wishlist {
		float: left;
	}
	.wishlist_container .footer button.send_wishlist {
	}
}

@media screen and (max-width: 360px) {
	.wishlist_container .footer button.print_wishlist {
		margin-left: 0;
		margin-bottom: 5px;
		float: left;
	}
	.wishlist_container .footer button.send_wishlist {
		margin-left: 0;
		margin-bottom: 5px;
		float: left;
	}
}


/** Send Wishlist **/
.send_wishlist_container {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 400px;
	height: 400px;
	min-height: 400px;
	padding: 0;
	background: #fff;
	font-family: Verdana;
}

.send_wishlist_container h2 {
	margin: 0;
	padding: 10px 5px;
	color: #fff;
	width: 100%;
	background: #000;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
}

.send_wishlist_container .wrapper {
	padding: 15px 30px;
	max-width: 364px;
	margin: 0 auto;
}

.send_wishlist_container input {
	display: block;
	width: 100%;
	padding: 10px 10px;
	margin-bottom: 10px;
	color: #000;
	font-size: 12px;
	border: 1px solid #000;
}

.send_wishlist_container textarea {
	display: block;
	width: 100%;
	height: 70px;
	padding: 10px 10px;
	margin-bottom: 10px;
	color: #000;
	font-size: 12px;
	border: 1px solid #000;
}

.send_wishlist_container #send_wishlist_recaptcha {
	width: 304px;
	height: 78px;
	margin: 0 auto;
}

.send_wishlist_container button.send {
	float: right;
	margin-top: 5px;
	padding: 5px 10px;
	color: #fff;
	text-transform: uppercase;
	background: #ff0000;
	border-radius: 4px;
	border: none ;
}

.send_wishlist_container button.close_popup {
	position: absolute;
	padding: 0;
	top: 0px;
	right: 0px;
	font-family: unset;
	width: 32px;
	height: 32px;
	line-height: 32px;
	font-size: 22px;
	color: #ffffff;
	vertical-align: bottom;
	background: transparent;
	border: none;
}

@media screen and (max-width: 530px) {
	.send_wishlist_container {
		width: 100%;
		overflow-y: auto;
	}

	.send_wishlist_container h2 {
		font-size: 10px;
	}
}

.wishlist_container .wrapper .wrapper_overflow .wishlist_item p.price {
	margin-bottom: 0;
}
.wishlist_container .wrapper .wrapper_overflow .wishlist_item p.price span {
	font-size: 12px;
}
.wishlist_container .wrapper .wrapper_overflow .wishlist_item p.secondary_price span {
	font-size: 10px;
}