<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Builder BricoDepot</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
    <link rel="stylesheet" href="app/css/bulma.min.css">
    <link rel="stylesheet" href="app/css/style.css">
    <link rel="stylesheet" href="app/css/templates.css">
</head>
<body>

    <div class="container" id="app">
        <div class="selection half_container">
            <h2>Builder</h2>

            <nav class="panel">
                <p class="panel-heading">Info pagină</p>
            </nav>
            <div class="field">
                <input class="input" type="text" v-model="category" placeholder="Numele categoriei">
            </div>
            <div class="field">
                <input class="input" type="text" v-model="subcategory" placeholder="Numele subcategoriei">
            </div>

            
            <nav class="panel">
                <p class="panel-heading">Structuri predefinite</p>
            </nav>
            <ul class="presets">
                <li v-for="template in presets" v-on:click="addPreset(template.id)">
                    <p>{{ template.title }}</p>
                </li>
            </ul>
            <br>
            <nav class="panel">
                <p class="panel-heading">Template-uri</p>
            </nav>
            <ul class="templates">
                <li v-for="template in templates" v-on:click="addTemplate(template.id)">
                    <p>{{ template.title }}</p>
                </li>
            </ul>

            <div class="buttons">
                <button class="button is-primary is-rounded" v-on:click="generate()">Generează</button>
                <button class="button is-primary is-rounded" v-on:click="download()">Descarcă</button>
                <button class="button is-primary is-rounded" v-on:click="clear()">Golește</button>
            </div>

            <div class="field">
                <textarea class="textarea" v-model="result"></textarea>
            </div>

            <br>
            <br>
        </div>
        <div class="preview half_container">
            <h2>Rezultat</h2>
            <ul class="blocks">
                <li v-for="item in items">
                    <div v-bind:class="item.class">
                        <div class="block" v-for="block in item.blocks">
                            <div>
                                <p>{{ block.size }}</p>
                                <div class="select">
                                    <select v-model="block.type">
                                        <option v-for="type in types" v-bind:value="type.value">
                                            {{ type.text }}
                                        </option>
                                    </select>
                                </div>
                                <div v-if="block.type == 'header:text'">
                                    <div class="field">
                                        <input class="input" v-model="block.data.title" type="text" placeholder="Titlu">
                                    </div>
                                    <div class="field">
                                        <textarea class="textarea" v-model="block.data.text" placeholder="Conținut text"></textarea>
                                    </div>
                                </div>
                                <div v-if="block.type == 'product'">
                                    <div class="field">
                                        <input class="input" v-model="block.data.ref" type="text" placeholder="Referința">
                                    </div>
                                    <div class="field">
                                        <input class="input" v-model="block.data.title" type="text" placeholder="Titlu produs">
                                    </div>
                                </div>
                                <div v-if="block.type == 'article'">
                                    <div class="field">
                                        <input class="input" v-model="block.data.title" type="text" placeholder="Titlu">
                                    </div>
                                    <div class="field">
                                        <textarea class="textarea" v-model="block.data.text" placeholder="Conținut text"></textarea>
                                    </div>
                                    <div class="field">
                                        <input class="input" v-model="block.data.url" type="text" placeholder="URL Articol">
                                    </div>
                                </div>
                                <div v-if="block.type == 'video:youtube'">
                                    <div class="field">
                                        <input class="input" v-model="block.data.url" type="text" placeholder="URL Video">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>
                        <button class="delete is-large" v-on:click="removeTemplate(item)" >&times;</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- lib -->
    <script src="app/js/lib/filesaver.js"></script>
    <!-- templates -->
    <script src="app/js/templates/page.js"></script>
    <script src="app/js/templates/header.js"></script>
    <script src="app/js/templates/product.js"></script>
    <script src="app/js/templates/content.js"></script>
    <!-- data -->
    <script src="app/js/data/presets.js"></script>
    <script src="app/js/data/templates.js"></script>
    <script src="app/js/data/types.js"></script>
    <!-- utilities -->
    <script src="app/js/template.js"></script>
    <script src="app/js/util.js"></script>
    <!-- app -->
    <script src="app/js/app.js"></script>
</body>
</html>